---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Sidebar from "../components/Sidebar.astro";
import Graph from "../components/Graph.astro";
---

<script>
  import { getPerson } from "../services/Person";
  const username = new URLSearchParams(window.location.search).get("username")!;


  const person = getPerson(username);

  document.getElementById("displayname")!.innerHTML += `${person.NickName === "" ? 
	person.FirstName : 
	person.NickName} ${person.Surname}`;

	document.getElementById("admissiondate")!.innerHTML += 
	new Date().toLocaleDateString('en-za', { weekday:"long", year:"numeric", month:"short", day:"numeric"})	;

</script>

<Layout title="Welcome to Astro.">
  <main>
    <Sidebar />
    <br>
    <br>
    <h5>Name:	<div id="displayname"></h5></div>
  <br>
  <h5>Admission Date:
	<div id="admissiondate"></h5></div>
  <br>
  <h5>You are currently in the:
	<div>Blue Week</h5></div>
  <br>
  <h5>Your ward's name is:
	<div>Camphor</h5></div>
  <br>
	<center><Graph values="[70,95]"/></center>
	<br>
  <h5>Number of classes attended vs number of classes</h5>
	<br>
	<a href="/vita/codeofconduct"><button>Code of Conduct</button></a>
  <br>
  <br>
	<a href="/vita/hospitalrules"><button>Hospital Rules</button></a>
  <br>
  <br>
	<a href="/vita/unitmanagerdetail"><button>Unit Manager's Contact Detail</button></a>

  </main>
</Layout>

<style>
  main {
    padding: 0px;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  h5 {
		font-size: 1.5rem;
		font-weight: 500;
		color: #0022b6;
		line-height: 1;
		text-align: left;
		margin-bottom: 1em;
	}
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
