---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Sidebar from "../components/Sidebar.astro";
import Graph from "../components/Graph.astro";
import type { getAbsoluteLocaleUrl } from "astro:i18n";
---

<script>
  import { getPerson } from "../services/Person";
  const username = new URLSearchParams(window.location.search).get("username")!;


  const person = getPerson(username);

  document.getElementById("displayname")!.innerHTML += `${person.NickName === "" ? 
	person.FirstName : 
	person.NickName} ${person.Surname}`;

	document.getElementById("admissiondate")!.innerHTML += 
	new Date().toLocaleDateString('en-za', { weekday:"long", year:"numeric", month:"short", day:"numeric"})	;

</script>

<Layout title="Welcome to Astro.">
  <main>
    <Sidebar />
<br>
	<div><p><center><h7>Hospital Rules</h7></p></center>
<br>
<h8>Unacceptable behaviour</h8>
<br>
<br>
<h9>1. Self harm</h9>
<br>
<br>
<p>During your stay in this unit you may not attempt any action that will result in harm to yourself or other patients.</p>
<br>
<h9>2. Relationship between patients</h9>
<br>
<br>
<p>No female patients will be permitted in the male sleeping quarters and vice verca. There will e no soialising in patient's rooms.  Friendships of a supportive nature are encouraged but any relationship that is seen to go beyond this point and become intimate will result in the expulsion of the relevant parties from the programme. This also includes intimate relationships between patients of the same gender. No physical contact between patients, eg. hugging or kissing is permitted.</p>
</div>

  </main>
</Layout>

<style>
  main {
    padding: 0px;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  h7 {
    font-size: 3rem;
    font-weight: 600;
    color: #2200b6;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  h8 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2200b6;
    line-height: 1;
    text-align: left;
    margin-bottom: 1em;
  }
  h9 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2200b6;
    line-height: 1;
    text-align: left;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
